HELP.md
.gradle
.env
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### docs ###
src/main/resources/static/docs/

### Social Login Settigns ###
src/main/resources/application-social.yml

### Apple Social Login ###
src/main/resources/static/AuthKey.p8

### AWS Settings ###
src/main/resources/application-aws.yml

### AI Settings ###
src/main/resources/application-ai.yml